<div class="form-group">
  <label >E-mail:</label>
  <input ng-model="p.email" class="form-control">
</div>

<div class="form-group">
  <label >Grupo:</label>
  <input ng-model="p.grupo" class="form-control">
</div>

<div class="form-group">
  <label >SysPid:</label>
  <input ng-model="p.syspid" class="form-control">
</div>

<div class="form-group">
  <label >Img:</label>
  <input ng-model="p.img" class="form-control">
</div>


<div class="form-group">
  <a href="" ng-click="edit(params.uid)" class="btn btn-success" >Salvar</a>
  <a href="#/usuarios" class="btn btn-default" >Cancelar</a>
</div>

<!-- <div id="mgs" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Message</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="n in greeting">
        <td ng-click="edit(n._id)">
            {{n.text}}
        </td>
      </tr>

    </tbody>
  </table>
</div> -->
